{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}

{% block body %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awosome Cart!</h1>
            <p>Flipkart was founded in October 2007 by Sachin Bansal and Binny Bansal, alumni of the IIT, Delhi and former Amazon employees.[10][11][12] The company initially focused on online book sales with country-wide shipping. Flipkart slowly grew in prominence and was receiving 100 orders per day by 2008.[13] In 2010, Flipkart acquired the Bangalore-based social book discovery service WeRead from Lulu.com.[14]
                In 2011, Flipkart acquired the digital distribution business Mime360.com[15] and the digital content library of the Bollywood portal Chakpak.[16] Following this acquisition, Flipkart launched their DRM-free online music store Flyte in 2012. Because of competition from free streaming sites, the site was unsuccessful and shut down in June 2013.[17][18][19][20]
                With its eyes on India's retail market, Flipkart acquired Letsbuy, an online electronics retailer,[21] in 2012, and Myntra, an online fashion retailer, for $280 million in May 2014.[22] Myntra continues to operate alongside Flipkart as a standalone subsidiary focusing on separate market segments.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->
</main>
{% endblock %}